<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
        <security>
                        <requestFiltering allowDoubleEscaping="true" />
                </security>
    
        <rewrite>
            <rules>
                
                <rule name="YOURLS Stats" stopProcessing="true">
                                    <match url="^(.*)\++$" ignoreCase="true" />
                                <conditions>
                                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        </conditions>
                                        <action type="Rewrite" url="/yourls-infos.php?id={R:1}" appendQueryString="true" logRewrittenUrl="true" />
                </rule>

                <rule name="YOURLS" enabled="true" stopProcessing="true">
                    <match url="^(.*)[^\+]$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/yourls-loader.php" appendQueryString="true" logRewrittenUrl="true" />
                </rule>
                
            </rules>
        </rewrite>
        
    </system.webServer>
</configuration>